
@{
    ViewBag.Title = "Time";
}

<h2>時間查詢</h2>
@using(Html.BeginForm("time","A
<p>
    姓名:
    <input type="text" name="name" value="" />
</p>
<p>
數字:
<input type="text" name="number" value="" />
</p>
<button value="提交">提交

</button>